*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1E1E1E;
  color: #fff;
  overflow-x: hidden;
}

html{
  overflow-x: hidden;
}

:root{
  --bg-800: #27272a;
  --bg-700: #3f3f46;
}
